* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  margin-top: 0px;
  padding: 20px;
  background-color: #f5f5f5;
}

h1 {
  margin-top: 0px;
  text-align: center;
}

h2 {
  margin-top: 0px;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  color: grey;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 12px;
  align-self: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}


@media only screen and (max-width : 700px) {
  .flex-row {
    flex-direction: column;
  }
}

@media only screen and (max-width : 400px) {
  .App {
    padding: 0px;
    padding-top: 10px;
  }
}

@media only screen and (max-width : 320px) {
  .App {
    padding: 0px;
    padding-top: 10px;
    width: 320px;
  }
}
