.citationTitles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.citationTitles p {
  padding: 0px;
  text-align: center;
  color: #fb8c00;
  font-weight: bold;
}

.citationTitles p:nth-child(1) {
  width: 10%;
}

.citationTitles p:nth-child(2) {
  width: 10%;
}

.citationTitles p:nth-child(3) {
  width: 50%;
}

.citationTitles p:nth-child(4) {
  width: 20%;
}


@media only screen and (max-width : 400px) {
.citationTitles p {
    font-size: 12px;
  }
}
